.SearchForm {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 35px;
  padding: 5px;

  &__btn-wrapper {
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
  }
}
